<div class="projects" id="topMargin">
    <div class="grouping-header" id="component">
      <div class="row">
        <div class="col col-xs-6">
          <h3 class="project-title float-left">Blood bank info</h3>
        </div>
      </div>
      <br>
      <div class="row">
        <div>
            <table>
                <tr>
                    <td>
                        <label>Name: </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Address:</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>City:</label>
                    </td>
                </tr>
            </table>
        </div>
      </div>
    </div>
    <br>
    <br>

    <div class="d-flex m-3">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td>#</td>
            <td>Date</td>
            <td>Duration</td>
            <td>Cancel your appointment</td>
            </tr>
        </thead>
        <tbody>
          <tr >
            <td></td>
            <td></td>
            <td></td>
            <td><input type="button" class="btn btn-dark" style="width: 100px;" value="Cancel"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
