<div>
    <section class="registration">
        <div class="registrationForm">
            <table>
                <tr>
                    <td class="registration-table-center" colspan="2"><h1>Registration</h1></td>
                </tr>
                <tr>
                    <td><p>Email:</p></td>
                    <td><input type="email" [(ngModel)]="email"></td>
                </tr>
                <tr>
                    <td><p>Password:</p></td>
                    <td><input type="password" [(ngModel)]="password"></td>
                </tr>
                <tr>
                    <td><p>Confirm your password:</p></td>
                    <td><input type="password" [(ngModel)]="confirmedPassword"></td>
                </tr>
                <tr>
                    <td class="registration-button" colspan="2">
                        <input type="button" value="Cancel" [routerLink]="['/']">
                        <input type="button" value="Continue" (click)="onSubmit()">
                    </td>
                </tr>
            </table>
        </div>
    </section>
</div>