<div class="logInContainer">
    <section class="logIn">
        <table>
            <tr>
                <td colspan="2" class="login-table-centered"><h1>Log in</h1></td>
            </tr>
            <tr>
                <td><p>Email:</p></td>
                <td><input type="email"></td>
            </tr>
            <tr>
                <td><p>Password:</p></td>
                <td><input type="password"></td>
            </tr>
            <tr>
                <td colspan="2" class="login-table-button">
                    <input type="button" value="Cancel" mat-dialog-close>
                    <input type="button" value="Log In">
                </td>
            </tr>
            <tr>
                <td colspan="2" class="login-table-centered"><p>Don't have an account? <a routerLink="/registrationPage" mat-dialog-close>Register</a></p></td>
            </tr>
        </table>
    </section>
</div>