<div class="container-lg" id="topMargin">
  <form>
    <h1 class="row justify-content-center align-items-center">ScheduleAppointment</h1>
    <div class="row justify-content-center" id="component">
      <label class="form-label">Pick date:</label>
        <div class="input-group mb-3">
          <input type="date" id="date" class="form-control" name="date" #date [(ngModel)]="appointmentDto.date"/>
        </div>
        <label class="form-label">Pick time:</label>
        <div class="mb-3 input-group">
          <input type="text" id="time" class="form-control" name="date" #date [(ngModel)]="appointmentDto.time"/>
        </div>
    </div>
    <div class="row justify-content-center align-items-center" style=" margin-top: 3%">
      <input type="submit" value="Add" style="width: 150px" class="btn btn-primary" (click)="this.getBanksWithFreeAppointmentTime()"/>
      <div class="row justify-content-center align-items-center" style="color: red">
        {{error}}
      </div>
    </div>
  </form>
</div>
