<div class="projects" id="topMargin">
    <div class="grouping-header" id="component">
      <div class="row">
        <div class="col col-xs-6">
          <h3 class="project-title float-left">Blood bank info</h3>
        </div>
      </div>
      <br>
      <div class="row">
        <div>
            <table>
                <tr>
                    <td>
                        <label>Name: {{bloodBank.name}}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Address: {{bloodBank.street}}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>City: {{bloodBank.city}}</label>
                    </td>
                </tr>
            </table>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="me-2" style="margin-left: 20px;">
      <h4>Sort By:</h4>
      <label class="form-check-label me-2" for="Duration">Date ascending</label>
      <input class="form-check-input" type="radio" id="DateAsc" value="durationAsc" [(ngModel)]="sortValue" name="sort" class="custom"/>

      <label class="form-check-label ms-3 me-2" for="Date">Date descending</label>  
      <input class="form-check-input" type="radio" id="DateDesc" value="durationDesc" [(ngModel)]="sortValue" name="sort" class="custom"/>

      <input type="submit" class="btn btn-dark me-3" style="width: 150px; margin-left: 30px;" (click)="onSubmit()"  value="Sort">
      <input type="submit" class="btn btn-dark" style="width: 150px" (click)="Reset()" value="Reset">

    <div class="d-flex m-3">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td>#</td>
            <td>Date</td>
            <td>Duration</td>
            <td>Choose your appointment</td>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of appointments; let currentIndex = index;">
            <th scope="row">{{ currentIndex + 1 }}</th>
            <td>{{ getWorkingHours(appointment.scheduleDateTime) }}</td>
            <td>{{ appointment.duration }}</td>
            <td><input type="button" class="btn btn-dark" style="width: 100px;" (click)="Schedule(appointment)" value="Schedule"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>