<div>
    <section class="registration">
        <div class="registrationForm">
            <table>
                <tr>
                    <td class="registration-table-center" colspan="2"><h1>Register administrator</h1></td>
                </tr>
                <tr>
                    <td><p>Name:</p></td>
                    <td><input type="text" [(ngModel)]="firstname"></td>
                </tr>
                <tr>
                    <td><p>Surname:</p></td>
                    <td><input type="text" [(ngModel)]="surname"></td>
                </tr>
                <tr>
                    <td><p>JMBG:</p></td>
                    <td><input type="text" [(ngModel)]="jmbg"></td>
                </tr>
                <tr>
                    <td><p>Gender:</p></td>
                    <td>
                        <select [(ngModel)]="gender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><p>Address:</p></td>
                    <td><input type="text" [(ngModel)]="u_address"></td>
                </tr>
                <tr>
                    <td><p>City:</p></td>
                    <td><input type="text" [(ngModel)]="u_city"></td>
                </tr>
                <tr>
                    <td><p>Country:</p></td>
                    <td><input type="text" [(ngModel)]="u_country"></td>
                </tr>
                <tr>
                    <td><p>Phone number:</p></td>
                    <td><input type="text" [(ngModel)]="phoneNumber"></td>
                </tr>
                <tr>
                    <td><p>Email:</p></td>
                    <td><input type="email" [(ngModel)]="email"></td>
                </tr>
                <tr><td></td><td></td><td></td><td></td></tr>
                <tr>
                    <td class="registration-button" colspan="2">
                        <input type="button" value="Cancel" [routerLink]="['/']">
                        <input type="button" value="Register" (click)="onSubmit()">
                    </td>
                </tr>
            </table>
        </div>
    </section>
</div>
