<div>
    <section class="registration">
        <div class="registrationForm">
            <form [formGroup]="BloodBankForm">
                <table>
                    <tr>
                        <td class="registration-table-center" colspan="2"><h1>Bloodbank registration</h1></td>
                    </tr>
                    <tr>
                        <td><p>Name:</p></td>
                        <td><input type="text" id="name" formControlName="name"></td>
                        <td></td>
                    </tr>
                    <tr *ngIf="BloodBankForm.get('name').invalid && (BloodBankForm.get('name').dirty || BloodBankForm.get('name').touched)" >
                        <td><p></p></td>
                        <td class="text-danger mt-1">Please enter name.</td>
                    </tr>
                    <tr>
                        <td><p>Description:</p></td>
                        <td><input type="text" id="description" formControlName="description"></td>
                    </tr>
                    <tr *ngIf="BloodBankForm.get('description').invalid && (BloodBankForm.get('description').dirty || BloodBankForm.get('description').touched)" >
                        <td><p></p></td>
                        <td class="text-danger mt-1">Please enter description.</td>
                    </tr>
                    <tr>
                        <td><p>Address:</p></td>
                        <td><input type="text" id="address" formControlName="address"></td>
                    </tr>
                    <tr *ngIf="BloodBankForm.get('address').invalid && (BloodBankForm.get('address').dirty || BloodBankForm.get('address').touched)" >
                        <td><p></p></td>
                        <td class="text-danger mt-1">Please enter address.</td>
                    </tr>
                    <tr>
                        <td><p>City:</p></td>
                        <td><input type="text" id="city" formControlName="city"></td>
                    </tr>
                    <tr *ngIf="BloodBankForm.get('city').invalid && (BloodBankForm.get('city').dirty || BloodBankForm.get('city').touched)" >
                        <td><p></p></td>
                        <td class="text-danger mt-1">Please enter city.</td>
                    </tr>
                    <tr>
                        <td><p>Country:</p></td>
                        <td><input type="text" id="country" formControlName="country"></td>
                    </tr>
                    <tr *ngIf="BloodBankForm.get('country').invalid && (BloodBankForm.get('country').dirty || BloodBankForm.get('country').touched)" >
                        <td><p></p></td>
                        <td class="text-danger mt-1">Please enter country.</td>
                    </tr>
                    <tr>
                        <td><p>Working hours:</p></td>
                        <td><input type="text" id="workingHours" formControlName="workingHours"></td>
                    </tr>
                    <tr *ngIf="BloodBankForm.get('workingHours').invalid && (BloodBankForm.get('workingHours').dirty || BloodBankForm.get('workingHours').touched)" >
                        <td><p></p></td>
                        <td class="text-danger mt-1">Please enter working hours in hh-hh format.</td>
                    </tr>
                    <tr>
                        <td class="registration-button" colspan="2">
                            <input type="button" value="Cancel" [routerLink]="['/']">
                            <input type="button" value="Confirm" (click)="onSubmit()">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </section>
</div>