<div>
    <section class="registration">
        <div class="registrationForm">
            <form [formGroup]="registreUserForm">
                <table>
                    <tr>
                        <td class="registration-table-center" colspan="2"><h1>New medical staff</h1></td>
                    </tr>
                    <tr>
                        <td><p>Bloodbank:</p></td>
                        <td>
                            <select id="bloodbank" formControlName="bloodbank" [(ngModel)]="bloodbank">
                                <option *ngFor="let bank of bloodBanks" [ngValue]="bank">{{bank.name}}</option>
                                <option value="female">Female</option>
                            </select>
                        </td>
                    </tr>
                    <tr *ngIf="registreUserForm.get('bloodbank').invalid && (registreUserForm.get('bloodbank').dirty || registreUserForm.get('bloodbank').touched)" >
                        <td><p></p></td>
                        <td class="text-danger mt-1">Please select bloodbank.</td>
                    </tr>
                    <tr>
                        <td><p>Name:</p></td>
                        <td><input type="text" id="name" formControlName="name"></td>
                        <td></td>
                    </tr>
                    <tr *ngIf="registreUserForm.get('name').invalid && (registreUserForm.get('name').dirty || registreUserForm.get('name').touched)" >
                        <td><p></p></td>
                        <td class="text-danger mt-1">Please enter name.</td>
                    </tr>
                    <tr>
                        <td><p>Surname:</p></td>
                        <td><input type="text" id="surname" formControlName="surname"></td>
                    </tr>
                    <tr *ngIf="registreUserForm.get('surname').invalid && (registreUserForm.get('surname').dirty || registreUserForm.get('surname').touched)" >
                        <td><p></p></td>
                        <td class="text-danger mt-1">Please enter surname.</td>
                    </tr>
                    <tr>
                        <td><p>JMBG:</p></td>
                        <td><input type="text" id="jmbg" formControlName="jmbg"></td>
                    </tr>
                    <tr *ngIf="registreUserForm.get('jmbg').invalid && (registreUserForm.get('jmbg').dirty || registreUserForm.get('jmbg').touched)" >
                        <td><p></p></td>
                        <td class="text-danger mt-1">Please enter 13 digit jmbg.</td>
                    </tr>
                    <tr>
                        <td><p>Gender:</p></td>
                        <td>
                            <select id="gender" formControlName="gender">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </td>
                    </tr>
                    <tr *ngIf="registreUserForm.get('gender').invalid && (registreUserForm.get('gender').dirty || registreUserForm.get('gender').touched)" >
                        <td><p></p></td>
                        <td class="text-danger mt-1">Please select gender.</td>
                    </tr>
                    <tr>
                        <td><p>Address:</p></td>
                        <td><input type="text" id="address" formControlName="address"></td>
                    </tr>
                    <tr *ngIf="registreUserForm.get('address').invalid && (registreUserForm.get('address').dirty || registreUserForm.get('address').touched)" >
                        <td><p></p></td>
                        <td class="text-danger mt-1">Please enter address.</td>
                    </tr>
                    <tr>
                        <td><p>City:</p></td>
                        <td><input type="text" id="city" formControlName="city"></td>
                    </tr>
                    <tr *ngIf="registreUserForm.get('city').invalid && (registreUserForm.get('city').dirty || registreUserForm.get('city').touched)" >
                        <td><p></p></td>
                        <td class="text-danger mt-1">Please enter city.</td>
                    </tr>
                    <tr>
                        <td><p>Country:</p></td>
                        <td><input type="text" id="country" formControlName="country"></td>
                    </tr>
                    <tr *ngIf="registreUserForm.get('country').invalid && (registreUserForm.get('country').dirty || registreUserForm.get('country').touched)" >
                        <td><p></p></td>
                        <td class="text-danger mt-1">Please enter country.</td>
                    </tr>
                    <tr>
                        <td><p>Phone number:</p></td>
                        <td><input type="text" id="phoneNumber" formControlName="phoneNumber"></td>
                    </tr>
                    <tr *ngIf="registreUserForm.get('phoneNumber').invalid && (registreUserForm.get('phoneNumber').dirty || registreUserForm.get('phoneNumber').touched)" >
                        <td><p></p></td>
                        <td class="text-danger mt-1">Please enter phone number.</td>
                    </tr>
                    <tr>
                        <td><p>Email:</p></td>
                        <td><input type="text" id="email" formControlName="email"></td>
                    </tr>
                    <tr *ngIf="registreUserForm.get('email').invalid && (registreUserForm.get('email').dirty || registreUserForm.get('email').touched)" >
                        <td><p></p></td>
                        <td class="text-danger mt-1">Please enter email.</td>
                    </tr>
                    <tr>
                        <td><p>Password:</p></td>
                        <td><input type="text" id="password" formControlName="password"></td>
                    </tr>
                    <tr *ngIf="registreUserForm.get('password').invalid && (registreUserForm.get('password').dirty || registreUserForm.get('password').touched)" >
                        <td><p></p></td>
                        <td class="text-danger mt-1">Please enter password.</td>
                    </tr>
                    <tr>
                        <td class="registration-button" colspan="2">
                            <input type="button" value="Cancel" [routerLink]="['/bloodBanks']">
                            <input type="button" value="Confirm" (click)="onSubmit()">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </section>
</div>