/* You can add global styles to this file, and also import other style files */
body {
    background-color: #FAF7F2;
    margin: 0; 
    font-family: "Helvetica Neue";
    height: 100%;
}

html {
    height: 100%; 
}

body .cdk-overlay-container {
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

body .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 1;
}

body .cdk-overlay-dark-backdrop {
    background: rgba(0,0,0,.32);
}

body .cdk-overlay-backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    pointer-events: auto;
    -webkit-tap-highlight-color: transparent;
    transition: opacity .4s cubic-bezier(.25,.8,.25,1);
    opacity: 0;
}

body .cdk-global-overlay-wrapper {
    display: flex;
    position: absolute;
    z-index: 1000;
}

body .cdk-overlay-container, .cdk-global-overlay-wrapper {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

body .cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    max-width: 100%;
    max-height: 100%;
}

body .mat-dialog-container {
    box-shadow: 0 11px 15px -7px #0003,0 24px 38px 3px #00000024,0 9px 46px 8px #0000001f;
    background: white;
    color: #000000de;
    padding: 0px;
    border-radius: 20px;
}