<div class="container-lg" style="margin-top: 4%;">
  <form >
    <h1 class="row justify-content-center align-items-center" style="margin-bottom: 3%;">User info</h1>
    <div class="row justify-content-center align-items-center">
      <div class="col-md-4">
        <label class="form-label">First Name:</label>
        <div class="input-group mb-3">
          <input type="text" id="firstName" class="form-control" name="name" [(ngModel)]="user.name"/>
        </div>
        <label class="form-label">Second Name:</label>
        <div class="mb-3 input-group">
          <input type="text" id="secondName" class="form-control" name="surname" [(ngModel)]="user.surname"/>
        </div>
      <label class="form-label">Gender:</label>
      <br/>
        <div class="mb-3 form-check form-check-inline">
          <input class="form-check-input" type="radio" id="F" value="female" name="gender" [(ngModel)]="user.gender"/>
          <label class="form-check-label" for="F">Female</label>
        </div>
        <div class="mb-3 form-check form-check-inline">
          <input class="form-check-input" type="radio" id="M" value="male" name="gender" [(ngModel)]="user.gender"/>
          <label class="form-check-label" for="M">Male</label>
        </div>
        <br/>
      <label class="form-label">Jmbg:</label>
        <div class="input-group mb-3">
          <input type="text" id="jmbg" class="form-control" name="jmbg" [(ngModel)]="user.jmbg"/>
        </div>
      <label class="form-label">Email:</label>
        <div class="mb-3 input-group">
          <input type="text" id="email" class="form-control" disabled name="email" [(ngModel)]="user.email"/>
        </div>
      <label class="form-label">Password:</label>
        <div class="mb-3 input-group">
          <input type="password" id="password" class="form-control" name="password" [(ngModel)]="user.password"/>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <label class="form-label">Address:</label>
        <div class="mb-3 input-group">
          <input type="text" id="address" class="form-control" name="address" [(ngModel)]="user.address"/>
        </div>
        <label class="form-label">City:</label>
        <div class="mb-3 input-group">
          <input type="text" id="city" class="form-control" name="city" [(ngModel)]="user.city"/>
        </div>
          <label class="form-label">Country:</label>
          <div class="mb-3 input-group">
            <input type="text" id="country" class="form-control" name="country" [(ngModel)]="user.country"/>
          </div>
          <label class="form-label">PhoneNumber:</label>
          <div class="mb-3 input-group">
            <input type="text" id="phoneNumber" class="form-control" name="phoneNumber" [(ngModel)]="user.phoneNumber"/>
          </div>
          <label class="form-label">Points:</label>
          <div class="mb-3 input-group">
            <input type="text" id="points" class="form-control" disabled name="points" [(ngModel)]="user.loyaltyPoints"/>
          </div>
          <label class="form-label">Loyalty Type:</label>
          <div class="mb-3 input-group">
            <input type="text" id="category" class="form-control" disabled name="category" [(ngModel)]="user.loyaltyType"/>
          </div>
      </div>
      <div class="row justify-content-center align-items-center" style=" margin-top: 3%">
        <input type="submit" value="Save" style="width: 150px" class="btn btn-primary" (click)="updateCustomer()"/>
      </div>
    </div>
  </form>
</div>
