.project {
    font-size: 18px;
    margin: auto;
}

#topMargin {
  margin-top: 4%;
  height: 100vw;
}

#component {
  margin: auto;
  width: 80vw;
}

.custom:checked~.custom::before {
  background-color: rgb(37, 36, 36)
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid rgb(37, 36, 36);
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: rgb(219, 130, 29);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.card-bg{
  background: #e2fafa;
}

.search-bg{
  background: #9cdedc;
}


