<div class="d-flex flex-column flex-wrap justify-content-center background-gradient">
  <div class="d-flex mx-3 mt-3 px-3 py-2">
    <h3>Blood Banks</h3>
  </div>

  <div class="d-flex mx-3 px-3">
    <div class="me-2">
      <h4>Search By:</h4>
      <label class="form-check-label me-2" for="Name">Name</label>
      <input class="form-check-input" type="radio" id="Name" value="name" name="search" [(ngModel)]="searchByName" class="custom"/>
      <label class="form-check-label ms-3 me-2" for="City">City</label>
      <input class="form-check-input" type="radio" id="City" value="city" name="search" [(ngModel)]="searchByName" class="custom"/>
      <div class="pe-5 mt-2">
        <input type="text" class="form-control" name="search" [(ngModel)]="search" placeholder="Search" >
      </div>
    </div>

    <div class="me-2">
      <h4>Filter By:</h4>
      <label class="form-check-label" for="Name">Rating</label>
      <div>
        <label class="form-check-label me-2" for="1"> 1</label>
        <input class="form-check-input" type="radio" id="1" value="1" name="filter" [(ngModel)]="filterValue" class="custom"/>

        <label class="form-check-label ms-3 me-2" for="2"> 2</label>
        <input class="form-check-input" type="radio" id="2" value="2" name="filter" [(ngModel)]="filterValue" class="custom"/>

        <label class="form-check-label ms-3 me-2" for="3"> 3</label>
        <input class="form-check-input" type="radio" id="3" value="3" name="filter" [(ngModel)]="filterValue" class="custom"/>

        <label class="form-check-label ms-3 me-2" for="4"> 4</label>
        <input class="form-check-input" type="radio" id="4" value="4" name="filter" [(ngModel)]="filterValue" class="custom"/>

        <label class="form-check-label ms-3 me-2" for="5"> 5</label>
        <input class="form-check-input" type="radio" id="5" value="5" name="filter" [(ngModel)]="filterValue" class="custom"/>
      </div>
    </div>

    <div class="me-2">
      <h4>Sort By:</h4>
      <label class="form-check-label me-2" for="Name">Name</label>
      <input class="form-check-input" type="radio" id="Name" value="name" name="sort" [(ngModel)]="sortValue" class="custom"/>

      <label class="form-check-label ms-3 me-2" for="City">City</label>  
      <input class="form-check-input" type="radio" id="City" value="city" name="sort" [(ngModel)]="sortValue" class="custom"/>

      <label class="form-check-label ms-3 me-2" for="Rating">Rating</label>
      <input class="form-check-input" type="radio" id="Rating" value="rating" name="sort" [(ngModel)]="sortValue" class="custom"/>
    </div>
  </div>
  
  <div class="d-flex mx-3 my-3 px-3">
      <input type="submit" class="btn btn-dark me-3" style="width: 150px" (click)="onSubmit()"  value="Search">
      <input type="submit" class="btn btn-dark" style="width: 150px" (click)="Reset()" value="Reset">
  </div>

  <!--<div class="d-flex m-3">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Rating</th>
          <th scope="col">City</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bloodBank of bloodBanksFiltered; let currentIndex = index;">
          <th scope="row">{{ currentIndex + 1 }}</th>
          <td>{{ bloodBank.name }}</td>
          <td>{{ bloodBank.description }}</td>
          <td>{{ bloodBank.rating }}</td>
          <td>{{ bloodBank.city }}</td>
          <td><input type="button" class="btn btn-dark" style="width: 100px; " value="Visit" (click)="Visit(bloodBank)"></td>
        </tr>
      </tbody>
    </table>
  </div>-->

  <div class="d-flex flex-wrap mx-4 justify-content-evenly">
    <div class="card m-2 card-bg" style="width: 20rem;" *ngFor="let bloodBank of bloodBanksFiltered; let currentIndex = index;">
      <div class="card-body">
        <h5 class="card-title">{{ currentIndex + 1 }}. {{ bloodBank.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Rating: {{ bloodBank.rating }}</h6>
        <p class="card-text">{{ bloodBank.description }}</p>
        <p class="card-text">City: {{ bloodBank.city }}</p>
        <input type="button" class="btn btn-dark" style="width: 100px; " value="Visit" (click)="Visit(bloodBank)" [disabled]="isLoggedIn">
      </div>
    </div>
  </div>

</div>
