<div class="container-lg" id="topMargin">
  <form>
    <h1 class="row justify-content-center align-items-center">Add appointment time</h1>
    <div class="row justify-content-center" id="component">
      <label class="form-label">Pick date:</label>
        <div class="input-group mb-3">
          <input type="date" id="firstName" class="form-control" name="name"/>
        </div>
        <label class="form-label">Pick time:</label>
        <div class="mb-3 input-group">
          <input type="text" id="secondName" class="form-control" name="surname"/>
        </div>
    </div>
    <div class="row justify-content-center align-items-center" style=" margin-top: 3%">
      <input type="submit" value="Add" style="width: 150px" class="btn btn-primary" />
      <div class="row justify-content-center align-items-center" style="color: red">
      </div>
    </div>
  </form>
</div>
