<app-staff-navbar></app-staff-navbar>
<div class="d-flex flex-column justify-content-center px-5 mt-5 pb-5 background-gradient">
    <span class="fs-2 fw-bold text-gray mb-3 pt-5">Appointment Review</span>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle class="bg-color-cyan color-gray p-3 rounded-3 mb-3">
        <mat-expansion-panel-header>
            <mat-panel-title class="fw-bold fs-5">
                Patient information
            </mat-panel-title>
            <mat-panel-description class="color-gray">
                Check if patient is able to give blood.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="d-flex flex-column mt-3">
            <label class="form-label">Number of previous donations - {{questionnaireDto!.previousDonations}}</label>

            <label class="form-label">Do you have more than 50kg - {{questionnaireDto!.question13}}</label>
            <label class="form-label">Did you have a dental intervention in past 7 days - {{questionnaireDto!.question14}}</label>
            <label class="form-label">Were you using antibiotics  in past 7 days - {{questionnaireDto!.question15}}</label>
            <label class="form-label">Did you put pirsings, tattoos or had blood transfusion in past 6 months - {{questionnaireDto!.question16}}</label>
            <label class="form-label">Have you ever been rejected as a blood or blood component donor - {{questionnaireDto!.question4}}</label>
            <label class="form-label">Do you currently feel healthy and rested to donate blood or blood components - {{questionnaireDto!.question5}}</label>
            <label class="form-label">Do you take any medications regularly (daily) - {{questionnaireDto!.question6}}</label>
            <label class="form-label">In the last 7 to 10 days, have you had a temperature over 38 C, a cold or taken antibiotics - {{questionnaireDto!.question7}}</label>
            <label class="form-label">Do you have any changes in your skin or suffer from allergies - {{questionnaireDto!.question8}}</label>
            <label class="form-label">Have you had any surgery or received blood in the past 6 months - {{questionnaireDto!.question9}}</label>
            <label class="form-label">Have you received any vaccine or serum in the past 12 months - {{questionnaireDto!.question10}}</label>
            <label class="form-label">Have you had any alcohol in the last 6 hours - {{questionnaireDto!.question11}}</label>
            <label class="form-label">Have you had unprotected sex during the past 6 months - {{questionnaireDto!.question12}}</label>

            <label class="form-label" id="forWoman">Just for women:</label>
            <label class="form-label ms-2">Are you pregnant - {{questionnaireDto!.question1}}</label>
            <label class="form-label ms-2">Are you in your cycle - {{questionnaireDto!.question2}}</label>
            <label class="form-label ms-2">Have you given birth or had a miscarriage in the last 6months - {{questionnaireDto!.question3}}</label>
        </div>
        <mat-action-row>
            <button type="button" class="btn btn-danger me-auto" (click)="addPenaltyPointToUser()">User did not come</button>
            <button type="button" class="btn btn-danger me-3 width-75" (click)="endAppointment()">End</button>
            <button type="button" class="btn btn-primary width-75" (click)="nextStep()">Next</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle class="bg-color-cyan color-gray p-3 rounded-3 mb-3">
        <mat-expansion-panel-header>
            <mat-panel-title class="fw-bold fs-5">
                Appointment information
            </mat-panel-title>
            <mat-panel-description class="color-gray">
                Write all relevant information about current appointment.
            </mat-panel-description>
        </mat-expansion-panel-header>

        <form class="d-flex flex-column mt-3" [formGroup]="appointmentForm">
            <label for="bloodType" class="form-label">Blood Type</label>
            <div class="input-group">
                <select class="form-select bg-light color-gray" aria-label="blood type selector" id="bloodType" formControlName="bloodType">
                    <option selected disabled hidden value="">Choose patient's blood type</option>
                    <option value="APlus">A+</option>
                    <option value="BPlus">B+</option>
                    <option value="ABPlus">AB+</option>
                    <option value="OPlus">O+</option>
                    <option value="AMinus">A-</option>
                    <option value="BMinus">B-</option>
                    <option value="ABMinus">AB-</option>
                    <option value="OMinus">O-</option>
                </select>
            </div>
            <div *ngIf="appointmentForm.get('bloodType').invalid && (appointmentForm.get('bloodType').dirty || appointmentForm.get('bloodType').touched)" class="text-danger mt-1">
                Please choose your blood type.
            </div>
        </form>

        <mat-action-row>
            <button type="button" class="btn btn-primary me-3 width-75" (click)="prevStep()">Previous</button>
            <button type="button" class="btn btn-primary width-75" [disabled]="appointmentForm.invalid" (click)="finishAppointment()">Finish</button>
        </mat-action-row>
    </mat-expansion-panel>
</div>